$border-color: black;

.host {
  user-select: none;
}

.value {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $border-color;
  max-width: 200px;
  padding: 5px;
}

.menu {
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid $border-color;
  max-width: 200px;
}

.item {
  padding: 5px;
}
